@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CormorantGaramond";
  src: url("/fonts/CormorantGaramond-Light.tff") format("tff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PetitFormalScript";
  src: url("/fonts/PetitFormalScript-Regular.tff") format("tff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.extra-fancy {
  font-family: "PetitFormalScript", cursive;
  font-weight: 400;
  letter-spacing: 0em;
}

.extra-fancy-spaced {
  font-size: 2.5rem;
  padding: 0 0.5rem;
}

.fancy {
  font-family: "CormorantGaramond", serif;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.underline-link {
  text-decoration: underline;
}

@layer utilities {
  @keyframes slideInLeft {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .slideInLeft {
    animation: slideInLeft 3s;
  }

  .slideInRight {
    animation: slideInRight 3s;
  }
}
